
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand mr-lg-5" href="/">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo Pixel Light">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo Pixel Dark">
                </a>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/">
                                    <img src="/static/assets/img/brand/dark.svg" alt="Logo Pixel">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="/" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown" aria-controls="pages_submenu" aria-expanded="false" aria-label="Toggle pages menu item">
                                <span class="nav-link-inner-text">Pages</span>
                                <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                            </a>
                            <ul class="dropdown-menu" id="pages_submenu">
                                <li><a class="dropdown-item" href="/add_books/">Add Books</a></li>
                                <li><a class="dropdown-item" href="/search_books/">Search Books</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>