{% extends "layouts/base.html" %}

{% block title %} Services {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="section section-lg pb-0">
    <div class="container">
        <!-- Title -->
        <!-- End of Title -->
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col mb-4">
                <h2 class="h5">Add Book</h2>
            </div>
        </div>

        <form class="form" method="POST" action="{{ url_for('add_books') }}">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <label class="h6" for="inlineFormCustomSelectPref">Book Title</label>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <label class="h6" for="inlineFormCustomSelectPref">Book Author</label>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <label class="h6" for="exampleInputDate1">Date Published</label>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5">
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fas fa-book"></span></span>
                            </div>
                            <input name='title' class="form-control form-control-lg" id="booktitle1" placeholder="Title"
                            type="text" aria-label="Date with icon left">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fas fa-user-circle"></span></span>
                            </div>
                            <input name='author' class="form-control form-control-lg" id="booktitle1" placeholder="Author"
                            type="text" aria-label="Date with icon left">

                        </div>
                    </div>
                </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                </div>
                                {% if not request.form['date'] %}
                                    <input name='date_published' class="form-control datepicker" id="exampleInputDate1" placeholder="Select Date"
                                        type="text" aria-label="Date with icon left">
                                {% else %}
                                    <input name='date_published' class="form-control datepicker" id="exampleInputDate1" value="{{request.form['date']}}"
                                    type="text" aria-label="Date with icon left">
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-sm-6">
                        
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-sm-6">
                                    <button type="submit" class="btn btn-tertiary mr-3 animate-up-2 " , name="submit_type" value="show">Save</button>
                                </div>
                            </div>
                        
                    </div>
                    
            </div>
        </form>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                    <p class="alert alert-success error-message">{{ message }}</p>
                    {% else %}
                    <p class="alert alert-warning error-message">{{ message }}</p>
                    {% endif %}
                
                {% endfor %}
            {% endif %}
        
        {% endwith %}
        
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
