{% extends "layouts/base.html" %}

{% block title %} Services {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="section section-lg pb-0">
    <div class="container">
        <!-- Title -->
        <!-- End of Title -->
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col mb-4">
                <h2 class="h5">Search Book</h2>
            </div>
        </div>

        <form class="form" method="POST" action="{{ url_for('search_books') }}">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <label class="h6" for="inlineFormCustomSelectPref">Search Title</label>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <label class="h6" for="inlineFormCustomSelectPref">Search Author</label>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <label class="h6" for="inlineFormCustomSelectPref">Date Range Start</label>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <label class="h6" for="exampleInputDate1">Date Range End</label>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5">
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fas fa-book"></span></span>
                            </div>
                            <input name='search_title' class="form-control form-control-lg" id="booktitle1" placeholder="Search"
                            type="text" aria-label="Date with icon left">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fas fa-book"></span></span>
                            </div>
                            <input name='search_author' class="form-control form-control-lg" id="booktitle1" placeholder="Search"
                            type="text" aria-label="Date with icon left">

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                            </div>
                                <input name='date_start' class="form-control datepicker" id="exampleInputDate1" placeholder="Select Date"
                                    type="text" aria-label="Date with icon left">

                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                            </div>
                                <input name='date_end' class="form-control datepicker" id="exampleInputDate1" placeholder="Select Date"
                                    type="text" aria-label="Date with icon left">

                        </div>
                    </div>
                </div>
                
                <div class="col-lg-1 col-sm-6">
                    
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-sm-6">
                                <button type="submit" class="btn btn-tertiary mr-3 animate-up-2 " , name="submit_type" value="show">Search</button>
                            </div>
                        </div>
                    
                </div>
                    
            </div>
        </form>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                    <p class="alert alert-success error-message">{{ message }}</p>
                    {% else %}
                    <p class="alert alert-warning error-message">{{ message }}</p>
                    {% endif %}
                
                {% endfor %}
            {% endif %}
        
        {% endwith %}
        
    </div>
    {% if data_total %}
    <div class="container">
        <div class="row mb-4 mb-lg-5  justify-content-center">
            <div class="col-lg-8 col-sm-6">
                <h2 class="h5">Total sum for all selected days</h2>
    
                <blockquote class="blockquote text-center">
    
                    {{data_total|safe}}
    
                </blockquote>
            </div>
        </div>
    </div>
    {% endif %}
    


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
